.logomarca{
    background-color: black;
    text-align: center;


}

  .imagem-logo{    
         width: 50% ;

  }


  .principal{     
  background-color: aliceblue;
  text-align: center;
  } 


 h1{color: black;}


 p{font-size: 60%;      

 }










