.logomarca{
    background-color: rgb(0, 0, 0);
    text-align: center;


}

  .imagem-logo{    
         width: 50% ;

  }


  .principal{     
  background-color: rgb(128, 127, 127);
  text-align: center;
  padding: 20px;
  } 


 h1{color: rgb(0, 0, 0);}


 p{font-size: 25px;      
   color: rgb(255, 255, 255);

  
  
  .itens{text-align: center;
    font-size: 25px;



  }



-






