.logomarca{
    background-color: black;
    text-align: center;


}

  .imagem-logo{    
         width: 50% ;

  }


  .principal{     
  background-color: aliceblue;
  text-align: center;
  padding: 10px;
  } 


 h1{color: rgb(0, 0, 0);}


 p{font-size: 20px;      
   color: darkblue;
 }










